<div class="card card-login">

  <div class="card__header">
    Авторизация
  </div>

  <div class="card__body">

    <div class="input-wrapper">
      <label class="input-wrapper__label">Логин</label>
      <input type="text" class="input-wrapper__input">
    </div>

    <div class="input-wrapper">
      <label class="input-wrapper__label">Пароль</label>
      <input type="password" class="input-wrapper__input">
    </div>
  </div>

  <div class="card__footer">
    <button class="button-primary button-login" (click)="logIn()">Войти</button>
  </div>

</div>
