/* You can add global styles to this file, and also import other style files */
.card {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.card__header {
  font-size: 18pt;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.card__body {
  font-size: 14pt;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  margin-bottom: 16px;
}

.card__footer {
  font-size: 14pt;
  display: flex;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid black;
}

.input-wrapper__label {
  width: 100px;
  /*flex-grow: 1;*/
}

.input-wrapper__input {
  border: none;
  width: 100%;
}

.button-primary {
  padding: 8px 16px;
  text-transform: uppercase;
  font-weight: 800;
  color: white;
  background: rgb(66, 88, 255);
  border: none;
  border-radius: 8px;
}

.button-primary:active {
  outline: none;
  background: rgba(66,88,255, 0.85);
}
